@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
}