@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

.footer {
    background-color: $background-color;
    color: $primary-text-color;
    margin-top: 20px;
    padding: 20px 60px;
    

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--mantine-spacing-xl);
        padding-bottom: var(--mantine-spacing-xl);
    
    }
    
    .links {

        @include media-query(mobile) {
            margin-top: $medium-spacing;
        }

    }
}
